__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/exports/*
!data/exports/.gitkeep

database/*
!database/.gitkeep

excel/*.xlsx
powerbi/*.pbix
